.Ribbon {
  position: absolute;
  display: block;
  width: 500px;
  height: 100vh;
  background: black;
  transform: skewX(19deg);
  z-index: 1;
  opacity: 70%;
}

.Ribbon.cascade {
  animation-name: v_animation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.Ribbon.theater {
  animation-name: fill_animation;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes v_animation {
  0% {
    left: 0px;
    top: 0px;
    opacity: 70%;
  }
  50% {
    right: 300px;
    top: 100vh;
    opacity: 0%;
    transform: skewX(-19deg);
    opacity: 0%;
  }
  100% {
    transform: skewX(-19deg);
    right: 0px;
    top: 0px;
    opacity: 70%;
  }
}

@keyframes fill_animation {
  0% {
    transform: skewX(-19deg);
    right: 0%;
    opacity: 70%;
  }
  50% {
    transform: skewX(-10deg);
    right: 50%;
    transform: translate(-250px);
    width: 50vw;
  }
  100% {
    transform: skewX(0deg);
    left: 0px;
    width: 100vw;
    opacity: 100%;
  }
}
