.Videos {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 50%;
  display: grid;
  place-items: center;
  z-index: 2;
}

.widget_container {
  display: grid;
  place-items: center;
  position: relative;
  width: 500px;
  height: 272px;
}

.cascade_container {
  display: grid;
  gap: 10px;
  place-items: center;
  position: absolute;
  width: 500px;
  height: 100vh;
  transform: skewX(-19deg);
  right: 0px;
  top: 0px;
  overflow: auto;
  direction: rtl;
}

/* width */
.cascade_container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.cascade_container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.cascade_container::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
.cascade_container::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.cascade_container .Video {
  position: relative;
}

.Video {
  position: absolute;
  display: block;
  height: 200px;
  width: 370px;
  border-radius: 20px;
  background: linear-gradient(44deg, black, #747474);
  box-shadow: 5px 10px 18px #00000080;
}

.Video::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url(/asset/images/play_btn.svg);
  background-size: contain;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
}

.widget_container.cascade {
  animation-name: fly_up;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.cascade_container.widget {
  visibility: hidden;
}

.cascade_container.cascade {
  opacity: 0;
  animation-name: fly_up2;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes fly_up {
  0% {
    top: 10%;
    opacity: 100%;
  }
  100% {
    top: -500px;
    opacity: 0%;
  }
}

@keyframes fly_up2 {
  0% {
    right: 300px;
    top: 100vh;
    opacity: 0%;
  }
  100% {
    transform: skewX(-19deg);
    right: 0px;
    top: 0px;
    opacity: 100%;
  }
}
